#content{
    width:96.5%;
    height:100vh;
    background-color: var(--main_background_color);
    padding:10px;
    overflow:auto;
    @include flexing($justification:space-around,$alignment:flex-start,$wrap:wrap);
}

#column_1,#column_2,#column_3,#column_4 {
    margin:10px;
    padding-bottom:20px;
    background-color: var(--main_background_color);
    gap:20px;
    filter:blur(var(--blurring));
    width:300px;
    @include flexing($justification:flex-start,$direction:column);
}

