$slide_color:black;
.dynamic_data{

    box-shadow:1px 1px 7px var(--icon_color);
    border-radius:15px;
    background-color: black;
    max-width:300px;
    align-items: center;
    align-self: flex-start;
    @include flexing($direction:column);
}

img{
    max-width:100%;
    background-color:  var(--main_background_color);
    border-radius:15px;

}
a > img{
    width:300px;
}

.edit_card_slide{
    width:100%;
    height:30px;
    background-color: $slide_color;
    padding:10px;
    font-size:0px;
    position:relative;
    border-radius:15px;                

    @include flexing($justification:space-evenly,$display:none);
}

.slide_buttons{
    background-color:$slide_color;
    border:none;
}

#edit{

    color:var(--bottom_icon_color);
    &:hover{
    color:orange;
    }
}

#finish{    
    color:var(--bottom_icon_color);
    &:hover{
    color:yellow;
    }
}

#remove{
    color:var(--bottom_icon_color);
    &:hover
    {
    color:red;

     }
}