#middle{
    z-index:1;
    box-shadow:1px 1px 5px var(--icon_color);
    border:1px solid var(--icon_color);
    
    overflow:hidden;
    position:absolute;
    left:4%;
    width:93%;;
    top:15%;
    height:75%;
    background-color: var(--main_background_color);
    @include flexing($display:none,$direction:column,$justification:center);    
    
}
#image_handler_div{
    background-color: transparent;
    width:90%;
    height:70%;
    position:relative;
    bottom:30px;
    overflow:auto;
    @include flexing();
}
#cross_div{
    transform: rotate(45deg);
    font-size:40px;
    position:relative;
    left:-45%;
    top:-2%;
}
#cross_button{
    outline:none;
     border:none;
    background-color: $button_background;
    color:var(--icon_color);
    &:hover{
            color:red;
    }
}

#image_handler{

    width:95%;
    height:auto;
    background-color: var(--main_background_color);
    color:var(--icon_color);
    text-align:center;
    overflow:hidden;
    position:relative;
    font-size:20px;
    top:-5%;

    @include flexing($direction:column);

}
#box{

    width:93%;
    height:30%;
    background-color:var(--main_background_color);
    border-radius:15px;
    box-shadow:0.5px 0.5px 5px var(--bottom_icon_color);
    padding:1.5%;
    font-size:170%;
    overflow:fixed;
    position:relative;
    bottom:20px;
    
    @include flexing();
}


#input_main_div{
    height:95%;
    width:60%;
    overflow:auto;
    // background-color: red;
    margin-top:2%;
}

input{ 
    font-size:60%;
    border:none;
    margin:0;
    padding:0;
    
    border-bottom:2px solid rgb(179, 179, 179);
    background-color: var(--main_background_color);
    color:var(--icon_color);
    width:100%;
    max-height:50%;
    max-width:100%;
    outline:none;
    overflow:auto;
}

#plus_button_div{
    width:20%;
    height:100px;
    position:relative;
    left:6%;
    transition:0.3s ease-out;
        // background-color: pink;

    
    @include flexing();
}

#plus_button{
    outline:none;
    color:var(--icon_color);
    border:none;
    background-color: var(--main_background_color);
    
    &:hover{
        color:blue;
    }
}

#image_icon{
    @include flexing($direction:column);
    gap:2px;
}